extends layout

block content
  
  if teacher
    h1 Teacher Dashboard
    p.secondary.text-muted Create Games
  else 
    h1 Student Dashboard
    p.secondary.text-muted Play Games 

  #games
  if games.length === 0
    p No games created yet!
  else
    for game in games 
      if (teacher || game.published)
        if teacher
          .panel(class="panel-default")
            .panel-heading
              .row
                .col-md-9
                  h3 #{game.name}
                .col-md-3
                  a(href="view_game/" + game.id)
                    button.btn.btn-sucess.pull-right Edit
            .panel-body
              .text-muted.small #{game.subject}
              p #{game.desc}
        else
            .panel(class="panel-default")
              .panel-heading
                .row
                  .col-md-9
                    h3 #{game.name}
                  .col-md-3
                    a(href="play_game/" + game.id)
                      button.btn.btn-primary.pull-right Play
              .panel-body
                .text-muted.small #{game.subject}
                p #{game.desc}

  if teacher
    p: a.btn.btn-primary(href="/create_game") Create New Game

