extends layout

block content

  h2 Games

  #games
  if games.length === 0
    p No games created yet!
  else
    for game in games 
      if (teacher || game.published)
        if teacher
          a(href="/view_game/" + game.id)
            .panel(class="panel-default")
              .panel-heading
                h3 #{game.name}
              .panel-body
                .text-muted.small #{game.subject}
                p #{game.desc}
        else
          a(href="/play_game/" + game.id)
            .panel(class="panel-default")
              .panel-heading
                h3 #{game.name}
            .panel-body
              .text-muted.small #{game.subject}
              p #{game.desc}

  if teacher
    a(href="/create_game")
      button(class="btn btn-primary pull-right") Create New Game

