extends layout

block content
  .well
    h2 #{gname}
    
    .text-muted #{gsubject}
    
    p #{gdesc}

    a(href="/edit_game/" + gid)
      button.btn.btn-primary Edit Info
  
  .well
    h3 Questions
    #questions
    if questions.length === 0
      p No questions yet!
    else
      for question in questions
        a.btn.btn-block.btn-default(role="button" href=(gid + "/edit_question/" + question._id))
          .h4 #{question.question}
          .small Answer: #{question.answer} 
    br
    p: a(href="/add_question/" + gid)
      button.btn.btn-primary Add Question
  
